<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Un chat</title>
  <link rel="stylesheet" data-th-href="@{/css/unchat.css}">
</head>
<body>

<div class="cadre">
    <p data-th-if="${chat != null}" data-th-text="'Je suis  ' + ${chat.nom}"></p>
    <p data-th-if="${chat != null}" data-th-text="'J\' ai une fourrure de couleur : ' + ${chat.couleur}"></p>
    <p data-th-if="${chat != null}" data-th-text="'Je pèse ' + ${chat.poids} +' Kg'"></p>


<!--<form data-th-fragment="filmform(readonly)">-->
<!--    <h1>Détail du film</h1>-->
<!--    <ul class="flex-outer">-->
<!--        <li>-->
<!--            <label for="inputGenre">Chat : </label>-->
<!--            <input type="text" id="inputGenre" data-th-disabled="${readonly}" data-th-value="${chat.nom}"/>-->
<!--        </li>-->
<!--        <li>-->
<!--            <label for="inputYear">Couleur : </label>-->
<!--            <input type="text" id="inputYear" data-th-disabled="${readonly}" data-th-value="${chat.couleur}"/>-->
<!--        </li>-->
<!--        <li><label for="inputTitle">Poids : </label> <input type="text"-->
<!--                                                            id="inputTitle" data-th-disabled="${readonly}" data-th-value="${chat.couleur}"/>-->
<!--        </li>-->

<!--    </ul>-->
<!--</form>-->
</div>
</body>
</html>